<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="MXUnit"
            id="org.mxunit.eclipseplugin">
      </category>
      <view
            allowMultiple="false"
            category="org.mxunit.eclipseplugin"
            class="org.mxunit.eclipseplugin.views.MXUnitView"
            icon="icons/mxunit.png"
            id="org.mxunit.eclipseplugin.views.MXUnitView"
            name="MXUnit">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.mxunit.eclipseplugin.views.MXUnitView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.mxunit.eclipseplugin.preferences.MXUnitPreferencePage"
            id="org.mxunit.eclipseplugin.preferences.MXUnitPreferencePage"
            name="MXUnit">
         <keywordReference
               id="org.mxunit.eclipseplugin.keywordTest">
         </keywordReference>
         <keywordReference
               id="org.mxunit.eclipseplugin.keywordFacade">
         </keywordReference>
         <keywordReference
               id="org.mxunit.eclipseplugin.keywordWebroot">
         </keywordReference>
         <keywordReference
               id="org.mxunit.eclipseplugin.keywordURL">
         </keywordReference>
      </page>
             
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.mxunit.eclipseplugin.preferences.MXUnitPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="false"
            class="org.mxunit.eclipseplugin.properties.MXUnitPropertyPage"
            icon="icons/mxunit.png"
            id="org.mxunit.eclipseplugin.MXUnitPropertyPage"
            name="MXUnit Properties"
            objectClass="org.eclipse.core.resources.IResource">
      	 <keywordReference
               id="org.mxunit.eclipseplugin.keywordFacade">
         </keywordReference>
         <keywordReference
               id="org.mxunit.eclipseplugin.keywordComponent">
         </keywordReference>
         <keywordReference
               id="org.mxunit.eclipseplugin.keywordURL">
         </keywordReference>
         <keywordReference
               id="org.mxunit.eclipseplugin.keywordTest">
         </keywordReference>      
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.mxunit.eclipseplugin.workbenchActionSet"
            label="MXUnit ActionSet"
            visible="true">
         <action
               class="org.mxunit.eclipseplugin.actions.delegates.OpenMXUnitViewActionDelegate"
               icon="icons/mxunit.png"
               id="org.mxunit.eclipseplugin.openMXUnitView"
               label="Open MXUnit View"
               style="push"
               toolbarPath="normal/additions"
               tooltip="Open the MXUnit view"
               helpContextId="mxunit_view" />
      </actionSet>
   </extension>
   
   
   <extension point = "org.eclipse.ui.popupMenus">
  
     <objectContribution
        id="org.mxunit.eclipseplugin.MXUnitRunner"
        objectClass="org.eclipse.core.resources.IFile"
	    nameFilter="*.cfc"
	       adaptable="true">
	    <action id="org.mxunit.eclipseplugin.actions.RunSelectedResourceAction"
	       label="Run MXUnit Test"
	       icon="icons/mxunit.png"
	       menubarPath="additions"
	       class="org.mxunit.eclipseplugin.actions.delegates.RunSelectedResourceActionDelegate"	
           definitionId="marcrocks"
	       enablesFor="+">
	    </action>
	 </objectContribution>	
	 
	 <objectContribution
        id="org.mxunit.eclipseplugin.MXUnitRunner2"
        objectClass="org.eclipse.core.resources.IContainer"
	  
	       adaptable="true">
	    <action id="org.mxunit.eclipseplugin.actions.RunSelectedResourceAction2"
	       label="Run MXUnit Tests"
	       icon="icons/mxunit.png"
	       menubarPath="additions"
	       class="org.mxunit.eclipseplugin.actions.delegates.RunSelectedResourceActionDelegate"	
           definitionId="marcrocks"
	       enablesFor="+">
	    </action>
	 </objectContribution>
	 
   </extension>
   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="toc_main.xml"
            primary="true">
      </toc>
   </extension>
   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="org.mxunit.eclipseplugin">
      </contexts>
   </extension>

 <extension point="org.eclipse.debug.ui.launchShortcuts">
  <shortcut
     id="org.mxunit.eclipseplugin.Launcher1"
     modes="run,debug"
     class="org.mxunit.eclipseplugin.launch.Launcher"
     label="Run MXUnit Tests"
     icon="icons/mxunit.png">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <instanceof value="org.eclipse.core.resources.IFolder" /> 
                 </or>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
   </shortcut>
  <shortcut
     id="org.mxunit.eclipseplugin.Launcher2"
     modes="run,debug"
     class="org.mxunit.eclipseplugin.launch.Launcher"
     label="Run MXUnit Test"
     icon="icons/mxunit.png">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="Test*.cfc"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*Test.cfc"/>
                 </or>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
   </shortcut>
 </extension>

<extension point="org.eclipse.ui.commands">
	<command 
		name="Launch MXUnit Test"
		description="Launch MXUnit Test"
		categoryId="org.eclipse.debug.ui.category.run"
		id="org.mxunit.eclipseplugin.Launcher1.run">
	</command>
	
 <command
       id="marcrocks"
       name="marcrocks">
 </command>
 
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         contextId="org.eclipse.ui.contexts.window"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M3+M2+X M"
         commandId="org.mxunit.eclipseplugin.Launcher1.run">
   </key>
   <key
         contextId="org.eclipse.ui.contexts.window"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+7"
         commandId="marcrocks">
   </key>
   
   
   
</extension>
 <extension
      point="org.eclipse.ui.keywords">
      <keyword
            id="org.mxunit.eclipseplugin.keywordTest"
            label="test">
      </keyword>
      <keyword
            id="org.mxunit.eclipseplugin.keywordComponent"
            label="component">
      </keyword>
      <keyword
            id="org.mxunit.eclipseplugin.keywordFacade"
            label="facade">
      </keyword>
      <keyword
            id="org.mxunit.eclipseplugin.keywordWebroot"
            label="webroot">
      </keyword>
      <keyword
            id="org.mxunit.eclipseplugin.keywordURL"
            label="url">
      </keyword>
   </extension>
   
</plugin>
