h1,h2,h3{font-family:Georgia; color:navy;}
p, div, li{font-family:Verdana, sans-serif;} 
.status{font-weight: bold;} 
.nodebugresults{font-family: Verdana, sans-serif; font-style:italic;}
.FAIL{color:navy} 
.ERROR{color:red} 
.PASS{color:green}